

body,html{
width:100%;
height:100%;
padding:auto;
margin:auto;

}

.uk-container {
	margin:0;
}
.uk-grid {
	margin:0 0 0 0px;
	
}

.uk-grid-border > *  {
	padding-left:0px;
	border-left:1px solid #dddddd;
}

.uk-navbar-nav {
	 width: 100%;
}

.uk-navbar-nav {

	width:100%;
    margin:0 auto;
    padding:0 auto;
    list-style:none;
    text-align:center;
	color: #a41034;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;

}
.uk-navbar-flip {
	float:right;

}
.uk-navbar-nav li {
	display:inline-block;
    width:25%;
    margin:0;
    padding-top:15px;
    padding-bottom: 20px;



}

.uk-navbar-nav li a {
	font-family: 'SourceSansPro-Semibold';
	src: url('fonts/SourceSansPro-Semibold.otf');
	font-weight:bold;
	font-size:1.1em;
	text-align:center;
	vertical-align: middle;
    padding-bottom:15px;
    margin:5px 0;
    border-left: 0px transparent;
    border-right: 0px transparent;
    display:block;



}


@font-face {
    font-family: 'SourceSansPro-Semibold';
	src: url('fonts/SourceSansPro-Semibold.otf');
}

.uk-navbar-nav li a:hover,
.uk-navbar-nav li a:active
.uk-navbar-nav li a:focus,
.uk-navbar-nav li.uk-active a {
	background:transparent;
	text-align: center;
	color: #a41034;
	
}

.uk-navbar-brand {
	position:relative;
	padding:0px;

}

.uk-navbar-toggle:after {
  content: "\f0c9";
  font-family: FontAwesome;
  /* 1 */
  vertical-align: middle;
}

.uk-main {
	margin:10px 10%;
	padding:0;
	text-align: left;
}

.uk-thumbnail-large {
	height:auto;
}


.uk-article-title {
	font-family: 'BebasNeue';
	src: url('fonts/BebasNeue.otf');
	font-size:72px;
}

.uk-article-title {
	font-family: 'BebasNeue';
	src: url('fonts/BebasNeue.otf');
	font-size:72px;
}

.uk-badge {
	padding:3px;
	margin:3px;
	font-size:.8em;
	font-weight:normal;
}

.uk-subnav, .uk-subnav-pill {
	color:#900000;
}

/* Large screen and bigger */
@media (min-width: 1220px) {
  /* Horizontal gutter */
  .uk-grid:not(.uk-grid-preserve) {
    margin-left: 25px;

  }
}
.uk-description-list-horizontal > dt {
	margin-left:auto;
	margin-right:auto;

}
.uk-description-list-horizontal > dd{
	margin-left:auto;
	margin-right:auto;
	
}


