@import url(http://fonts.googleapis.com/css?family=Varela+Round|Montserrat);

body,html{
width:100%;
height:100%;
padding:auto;
margin:auto;

}

.uk-container-main {
	margin-top:15px;
}
.uk-grid>* {
	margin:0 0 0 0px;
	padding-left:22px;
	
}

.uk-grid-border  {
	padding-left:0px;
	margin-left:0px;
	border-right:1px solid #dddddd;
}

.uk-navbar-nav {
	width:100%;
    margin:0 auto;
    padding:0 auto;
    list-style:none;
    text-align:center;
	color: #a41034;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.uk-nav li {
	display:inline-block;
    width:auto;
    padding-bottom:10px;
    
    
}

.uk-nav li a {
	font-family: 'Montserrat', sans-serif;
	text-transform: lowercase;
	color:#4f4f4f;
	text-align: center;
	font-size:1em;
    border-left: 0px transparent;
    border-right: 0px transparent;
    display:block;


}

.uk-nav li a:hover,
.uk-nav li a:active
.uk-nav li a:focus,
.uk-nav li.uk-active a {
	background:transparent;
	color:#a41034;
	
}

.uk-nav-img {
	max-width: 300px;
	display:block;
	padding-top:10px;
	margin-bottom:5px;


}

.uk-nav-toggle:after {
  content: "\f0c9";
  font-family: FontAwesome;
  /* 1 */
}

.uk-nav-offcanvas li {
	width:100%;
	font-family: 'Montserrat', sans-serif;
	color:#d4d4d4;
	
	

}

.uk-header {
	margin-top:15px;
	padding-top: 15px;
}
.uk-nav-offcanvas li a {
	text-align: left;
	color:#d4d4d4;
}

.uk-nav-main {
	margin:0 5%;
	padding:0;
	text-align: left;
}

.uk-main {
	margin:0 5%;
	padding:0;
	text-align: left;
}

.uk-fixed {
	position: fixed;
	text-align: left;
	padding:0;
}

.uk-thumbnail-right {
	margin-left: 5px;

}

.uk-thumbnail-left {
	padding-right:5px;


}

.uk-thumbnail-center {
	padding-right: 5px;
	padding-left: 5px;
}

.uk-article p {
	font-family: 'Montserrat', sans-serif;
}

.uk-article-title {
	font-family: 'Varela Round', sans-serif;
	font-size:3em;
	text-transform: uppercase;
	vertical-align: middle
}


.uk-badge {
	padding:3px;
	margin:3px;
	font-size:.8em;
	font-weight:normal;
}

.uk-subnav, .uk-subnav-pill {
	color:#900000;
}

@media (min-width: 1220px) {
.uk-grid:not(.uk-grid-preserve)>* {
padding-left: 0px;
border-left:1px #ffffff;

}
}
/* Large screen and bigger */
@media (min-width: 1220px) {
  /* Horizontal gutter */
  .uk-grid:not(.uk-grid-preserve) {
    margin-left: 0px;

  }


}
.uk-description-list-horizontal > dt {
	margin-left:auto;
	margin-right:auto;

}
.uk-description-list-horizontal > dd{
	margin-left:auto;
	margin-right:auto;
	
}


